*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #3cff00, #ae00ff);
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 150px;
    display: flex;
    align-content: center;
    align-items: center;
    border: solid 1px black;
    background: #3ed73b2c;
    background-image: url(img/mole-hidden.png);
    background-size: cover;
}

#restart{
    padding: 10px 20px;
    color: white;
    background-color: rebeccapurple;
    border-color: black;
    border-radius: 5px;
    font-size: 1em;
}

#restart:hover{
    transform:  translateY(-2px);
}

.mole{
    background-image: url(img/mole.png);
    background-size: cover;
}

h2{
    color: white;
    font-weight: 600;
    margin: 10px;
    font-size: 2em;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.form_radio_btn input[type=radio]:checked + label {
    background: #ffe0a6;
}

.form_radio_btn label:hover {
    color: #666;
}

.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

#input_time{
    display: block;
    width: 215px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}